.navbar {
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 20px;
}

.bold {
  color: white;
  font: bolder;
  font-weight: bolder;
  margin-bottom: 5px;
}
